/* 모바일 용 요소들 삭제 */
#footer {
  display: none;
}
#mobile-header {
  display: none;
}

/* 헤더 */
#desktop-header {
  background-color: white;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid lightgray;
}
#desktop-header #desktop-header-wrapper {
  max-width: 950px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 헤더 - 로고 */
#desktop-header-wrapper #logo-wrapper {
  width: 33.3%;
}
#desktop-header-wrapper #logo-wrapper img {
  width: 40%;
  height: 40%;
}

/* 헤더 - 검색 */
#desktop-header-wrapper #search-wrapper {
  margin: 0 5%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: gray;
  width: 33.3%;
  height: 34px;
  border: 1px solid lightgray;
  background-color: rgba(215, 215, 215, 0.1);
  border-radius: 3px;
  padding-left: 15px;
}
#desktop-header-wrapper #search-wrapper img {
  width: 4%;
  opacity: 0.5;
}
#desktop-header-wrapper #search-wrapper p {
  margin-left: 2%;
  font-size: 13px;
}

/* 헤더 - 아이콘 */
#desktop-header-wrapper #header-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 33.3%;
}
#desktop-header-wrapper #header-icon-wrapper img {
  margin: 0% 3.5%;
  width: 8%;
}

/* 컨테이너 */
#container {
  padding-top: 95px;
  padding-bottom: 0%;
  background-color: rgba(215, 215, 215, 0.1);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* 메인 컨테이너 */
#main-container {
  max-width: 660px;
  margin-right: 40px;
}

/* 스토리 컨테이너 */
#story-container {
  padding-left: 10px;
  border: 1px solid lightgray;
  background-color: white;
  width: 600px;
}
#story-container .story-wrapper {
  margin: 3% 1.5%;
}
#story-container .story-off {
  width: 55px;
  height: 55px;
}
#story-container .story-on {
  width: 55px;
  height: 55px;
}

/* 포스트 컨테이너 */
#post-container {
  margin-top: 25px;
  width: 610px;
}
#post-container .post-wrapper {
  border: 1px solid lightgray;
  margin-bottom: 5%;
}

/* 포스트 - 헤더 */
#post-container .post-wrapper .post-header .left-wrapper {
  margin-left: 1%;
}
#post-container .post-wrapper .post-header .left-wrapper img {
  width: 1.5vw;
  height: 1.5vw;
}
#post-container .post-wrapper .post-header .right-wrapper img {
  width: 7%;
}

/* 포스트 - 바디 */
#post-container .post-wrapper .post-body .post-icons-wrapper .left-wrapper {
  margin-left: 1%;
}
#post-container
  .post-wrapper
  .post-body
  .post-icons-wrapper
  .left-wrapper
  .post-icon {
  width: 9%;
}
#post-container
  .post-wrapper
  .post-body
  .post-icons-wrapper
  .left-wrapper
  .post-icon-2 {
  width: 8%;
}
#post-container
  .post-wrapper
  .post-body
  .post-icons-wrapper
  .right-wrapper
  img {
  width: 7%;
}

/* 포스트 - 푸터 */
#post-container .post-wrapper .post-footer {
  padding-left: 1%;
}
#post-container .post-wrapper .post-footer .post-like-wrapper img {
  width: 1.5vw;
}

/* 서브 컨테이너 */
#sub-container {
  display: flex;
  flex-direction: column;
  width: 275px;
}

/* 서브 컨테이너 아이콘 - 헤더 */
#sub-container #sub-icon-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sub-container #sub-icon-header #sub-header-text {
  font-size: 14px;
  font-weight: bold;
  color: gray;
}
#sub-container #sub-icon-header #sub-header-text-2 {
  font-size: 12px;
  font-weight: bold;
}

/* 서브 컨테이너 아이콘 - 아이템 */
#sub-container #sub-icon-wrapper .sub-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
#sub-container #sub-icon-wrapper .sub-item .sub-item-user {
  display: flex;
  align-items: center;
}
#sub-container #sub-icon-wrapper .sub-item .sub-item-user img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
#sub-container #sub-icon-wrapper .sub-item .sub-item-user .sub-item-text {
  margin: 0 5px;
}
#sub-container
  #sub-icon-wrapper
  .sub-item
  .sub-item-user
  .sub-item-text
  .sub-item-name {
  font-size: 14px;
  font-weight: bold;
  margin: 3px 3px;
}
#sub-container
  #sub-icon-wrapper
  .sub-item
  .sub-item-user
  .sub-item-text
  .sub-item-follower {
  font-size: 12px;
  color: gray;
  margin: 0 3px;
}
#sub-container #sub-icon-wrapper .sub-item .sub-item-button {
  font-size: 12px;
  font-weight: bold;
  color: rgb(0, 123, 255);
}
