/* 메인 컨테이너 */
nav {
    width: 100%;
    height: 54px;
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: white;
    border-bottom: 1px solid #dbdbdb;
}
.nav-container {
    max-width: 1000px;
    padding: 0 20px;
    display: flex;
    align-items: center;
}
nav div.nav-1,
nav div.nav-2 {
    width: 370px;
    display: flex;
    align-items: center;
}
div.nav-2 {
    justify-content: flex-end;
}
nav img {
    height: 22px;
}
.vl {
    height: 22px;
    margin: 0 10px;
    border-left: 1px solid #262626;
}
.logo_instagram_txt {
    height: 30px;
    cursor: pointer;
}
.nav-2 img {
    margin-left: 20px;
}
.input-search {
    width: 200px;
    height: 12px;
    padding: 7px;
    box-sizing: content-box;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAACI0lEQVRIie2Uv2sTcRjGP+/lKqZNLUVrp2wq/mhBJxddWnF0SOsVEhpwKEUCgv9A5zgLocGtUq+cQZCMWg/r5FAQWkFXaatEEfxRhFzu+zqkwZL2rqeufZY7eO95Pt/vA/fCoQ6QRA08z0sHoc4IMqlwDugHNgVZVqPVQsFZ/WeA69YuG8xjIBvhU5DKz+9f787OzgZxACsi3AeyCq8Vcq2mfWJwIHNU1BpRpQz8Ai31Hxt8pKqRLey5QbsW3gNZFa0esaTkOE7YbVpc9C5i8Rw4LiqlfP5mJdENglBnOiePCgcoFJw3onoLQEXnfN+3EwEEmdx5vRcV3lE+P1VHWAOGtxqNq4kACucBwqa9Ehf+xyArO88LiQBAH4Ax37YT5av+ABDIJAVsAaTS6VNJACKcaYPYTAYQfQFgGatwULjneUPAdcCEKV4mA4QyD6gId1y3dinKpKoShNynXU296DgfEgHav79UgF6DefbQ9W7sd/LFpdoSMAWgYspR4bDPqqhWqz2ZgUEXZWLnizVUVkTMNiqntV1L3y7L2zCwx4rFXCMRANoVuG7ttorOAcNdYwPUVUzZUuuBwkgcJHaP+L5vb3z6ciWljKqYXsTaCC191el8YeHJSbuntawwIrDeCuzxbkgsIIk8zxsKDMsoo8A700qNTU9PfOzM92zTv5XjOJ/Dpn1NYB04a9nh093z/wYAFIu5RiuwxxFWgdgddqg9+g0TJuLzCuoJngAAAABJRU5ErkJggg==");
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: 38% center;
    text-indent: 10%;
    font-size: 14px;
}
.input-search:focus {
    background-position: 4% center;
    outline: none;
}
.input-search::placeholder,
.input-search:not(:focus) {
    text-align: center;
    vertical-align: center;
    font-weight: 300;
    font-size: 14px;
    color: #8e8e8e;
}
.input-search:focus::placeholder {
    text-align: start;
}
.input-search::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 14px;
    width: 14px;
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: center left;
    background-image: url("../img/cancel.png");
}

/* 헤더 */
#desktop-header {
    background-color: white;
    width: 100%;
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid lightgray;
}

#desktop-header #desktop-header-wrapper {
    max-width: 950px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* 헤더 - 로고 */
#desktop-header-wrapper #logo-wrapper {
    width: 33.3%;
}

#desktop-header-wrapper #logo-wrapper img {
    width: 40%;
    height: 40%;
}

/* 헤더 - 검색 */
#desktop-header-wrapper #search-wrapper {
    margin: 0 5%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: gray;
    width: 33.3%;
    height: 34px;
    border: 1px solid lightgray;
    background-color: rgba(215, 215, 215, 0.1);
    border-radius: 3px;
    padding-left: 15px;
}

#desktop-header-wrapper #search-wrapper img {
    width: 4%;
    opacity: 0.5;
}

#desktop-header-wrapper #search-wrapper p {
    margin-left: 2%;
    font-size: 13px;
}

/* 헤더 - 아이콘 */
#desktop-header-wrapper #header-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 33.3%;
}

#desktop-header-wrapper #header-icon-wrapper img {
    margin: 0% 3.5%;
    width: 8%;
}

/* 포스트 컨테이너 */
#post-container {
    width: 960px;
    margin: 0 auto;
    padding-top: 94px;
    padding-bottom: 40px;
}

#post-container .post-wrapper {
    border-bottom: 1px solid lightgray;
}

/* 포스트 - 헤더 */
#post-container .post-wrapper .post-header .right-wrapper {
    padding-left: 105px;
    padding-top: 30px;
}

#post-container .post-wrapper .post-header .right-wrapper img {
    width: 10vw;
    height: 10vw;
}

#post-container .post-wrapper .post-header {
    width: 7%;
}

/* 포스트 - 바디 */
#post-container .post-body {
    margin-bottom: 80px;
}

/*프로필*/
.pfp {
    width: 100%;
    height: 100%;
    border-radius: 70%;
    object-fit: cover;
}

.post-collection {
    margin-left: 50px;
    margin-top: 50px;

    /*마우스가 빠졌을 때에도 서서히 변하기 위해 post-collection에도 변형 속성을 줍니다*/
    /*배경색 변형 선언*/
    transition-property: background-color;
    /*변형 완료 1초*/
    transition-duration: 1s;
    /*빠른 시작 서서히 감속*/
    transition-timing-function: ease-out;
}

.post-menu {
    width: 400px;

    margin-top: 15px;
    text-align: center;

    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/

    margin-left: 300px;
}

.img-thumbnail1:hover {
    /*rgb컬러a알파 0~1까지 화이트 0.3만큼 알파 혹은 반투명*/
    background: rgba(255, 255, 255, 0.3);
    transition: background 1s ease-out;
}

/*이미지 세부 조정*/
.img-collection {
    cursor: pointer;
    object-fit: cover;
}

.img-collection:hover {
    opacity: 0.5;
}

.logo_instagram_txt {
    cursor: pointer;
}

#nav {
    cursor: pointer;
}

.bigPictureWrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0%;
    width: 100%;
    height: 130%;
    background-color: rgb(65, 63, 63);
    z-index: 100;
    background: rgba(39, 39, 39, 0.7);
}

.bigPicture {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.bigPicture ~ img {
    width: 600px;
    cursor: pointer;
}
