<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <!-- Webpage Title -->
    <title>루피스타그램</title>

    <!-- CSS 링크 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <!-- favicon -->
    <link rel="icon" href="{{ url_for('static', filename='image/fav.png') }}">
    <!-- <link rel="instagram-icon" href="{{url_for('static', filename='image/insta-logo.png')}}"> -->

    <!-- 토큰이 있느냐 실패했을때의 메세지 -->
    <script>
        {% if msg %}
        alert("{{ msg }}")
        {% endif %}

        function login() {
            $.ajax({
                type: "POST",
                url: "/api/login",
                data: { id_give: $('#userid').val(), pw_give: $('#userpw').val() },
                success: function (response) {
                    if (response['result'] == 'success') {
                        $.cookie('mytoken', response['token']);
                        // var nickname = response['nick'];
                        // alert('{{nickname}} 님, 안녕하세요!')    마찬가지로 nickname넘긴 것을 변수 선언하고 받을 수가 없음
                        alert(response['msg']) // alert으로 대체함
                        window.location.href = '/main'
                    } else {
                        alert(response['msg'])
                    }
                }
            })
        }


    </script>

</head>


<body>
    <div class="container">
        <img class="logo_instagram" src="{{url_for('static', filename='image/insta-logo.png')}}"
            onclick='window.location.href = "/main"' alt="instagram_logo">
        <input type="text" class="input_login" name="userid" id="userid" placeholder="전화번호, 사용자 이름 또는 이메일">
        <input type="password" class="input_login" name="userpw" id="userpw" placeholder="비밀번호">
        <a href="#none"><button id="btn_login" disabled onclick="login()">로그인</button></a>
        <span class="button_forgot" onclick='window.location.href = "/register"'>회원가입하러 가기</span>

    </div>
    <script src="{{url_for('static', filename='js/login.js')}}"></script>
</body>


</html>