<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <link rel="stylesheet" href="style.css"> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div id="desk-head-container">
        <div id="desk-head-wrapper">
            <img class="logo-icon" src="{{url_for('static', filename='image/insta-logo.png')}}" onclick=" load()">
            <div id=" desk-search">
                <input placeholder="검색">
            </div>
            <div id="head-icons">
                <img class="icon" src="{{url_for('static', filename='image/home@3x.png')}}" />
                <img class="icon" src="{{url_for('static', filename='image/dm@3x.png')}}" />
                <img class="icon" src="{{url_for('static', filename='image/trending@3x.png')}}" />
                <img class="icon" src="{{url_for('static', filename='image/like@3x.png')}}" />
                <img class="icon" style="padding-bottom: 4%" src="{{url_for('static', filename='image/more@3x.png')}}"
                    alt="">
            </div>
        </div>
    </div>
    <div id="all-container">
        <div id="head-container">
            <img class="left-head-icon side-head-icon" id="camera"
                src="{{url_for('static', filename='image/camera@3x.png')}}" />
            <img class="logo-icon" src="{{url_for('static', filename='image/insta-logo.png')}}" onclick="load()" />
            <img class="right-head-icon side-head-icon" src="{{url_for('static', filename='image/dm@3x.png')}}" />
        </div>
        <div id="foot-container">
            <img class="foot-icon" src="{{url_for('static', filename='image/home@3x.png')}}" />
            <img class="foot-icon" src="{{url_for('static', filename='image/search@3x.png')}}" />
            <img class="foot-icon" src="{{url_for('static', filename='image/trending@3x.png')}}" />
            <img class="foot-icon" src="{{url_for('static', filename='image/like@3x.png')}}" />
            <img class="foot-icon" src="{{url_for('static', filename='image/home@3x.png')}}" />
        </div>

        <div id="main-container">
            <div style="max-width: 720px;">
                <div id="story-container"></div>
                <div id="feed-container"></div>
                <div class="feed-wrapper">
                    <div class="feed-head-container">
                        <div class="feed-head-wrapper">
                            <img class="feed-head-img" src="{{url_for('static', filename='image/okk2.jpg')}}" alt="">
                            <div>옥수수</div>
                        </div>
                        <img class="more-icon" style="" src="{{url_for('static', filename='image/more@3x.png')}}"
                            alt="">
                    </div>
                    <img class="feed-img" src="{{url_for('static', filename='image/gamja_crop.jpg')}}" alt="">
                    <div style="margin-top: -2%;">
                        <div class="feed-icons-container">
                            <div class="feed-icons-wrapper">
                                <img class="feed-icon" onclick="like(this)"
                                    src="{{url_for('static', filename='image/like@3x.png')}}" alt="홍채영">
                                <img class="feed-icon" src="{{url_for('static', filename='image/comment@3x.png')}}">
                                <img class="feed-icon" src="{{url_for('static', filename='image/dm@3x.png')}}">
                            </div>

                            <img class="feed-icon feed-right-icon" onclick="favorite(this)"
                                src="{{url_for('static', filename='image/favorite@3x.png')}}">

                        </div>
                        <div class="feed-feed-container">
                            <div class="feed-like-wrapper">
                                <img class="feed-like-img" src="{{url_for('static', filename='image/okk.jpg')}}" alt="">
                                <div id="Gamja"><strong>7조</strong>님 외에 <strong id="Goguma">9999명</strong>이 좋아합니다
                                </div>
                            </div>
                            <div class="feed-feed-wrapper">
                                <div class="feed-msg">
                                    <strong>구황작물_king</strong> 감자야 나야 선택해
                                </div>
                                <div class="feed-time">2일 전</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div id="follow-container">
                <div id="follow-wrapper">
                    <p><strong>{{nickname}} 회원님을 위한 추천</strong></p>
                    <p style="font-size: 1rem; color: #000000"><strong>모두 보기</strong></p>
                </div>
                <div id="follow-people">

                </div>
            </div>
        </div>
        <div id="camera-container" class="hidden">
            <video id="video"></video>
            <button id="camerabtn"></button>
            <button id="backhome" onclick="load()">
                < </button>
        </div>

    </div>
    <script>
        let story_list = [{ 'src': 'static/image/Lu1.jpg', 'name': '루피', 'msg': '여러분 안녕하세요!' }, { 'src': 'static/image/Lu2.jpg', 'name': '루피', 'msg': '깜직해.' },
        { 'src': 'static/image/Lu3.jpg', 'name': '루피', 'msg': '쉽지 않다..' }, { 'src': 'static/image/Lu4.jpg', 'name': '루피', 'msg': '#ootd #오늘의훈녀 #팔로미' },
        { 'src': 'static/image/Lu5.png', 'name': '루피', 'msg': '쒸익 쒸익!' }]

        function storyclick(data) {
            data.classList.replace('story-img', 'clicked-story-img')

        }

        function like(data) {
            console.log(document.getElementById(`${data.alt}likey`).innerText)
            let likey = Number(document.getElementById(`${data.alt}likey`).innerText.split('명')[0])
            console.log()
            if (data.attributes[3].value === 'static/image/like@3x.png') {
                data.setAttribute('src', 'static/image/like@4x.png')
                document.getElementById(`${data.alt}likey`).innerText = `${String(likey + 1)}명`
            } else {
                data.setAttribute('src', 'static/image/like@3x.png')
                document.getElementById(`${data.alt}likey`).innerText = `${String(likey - 1)}명`
            }
        }
        function favorite(data) {
            if (data.attributes[3].value === 'static/image/favorite@3x.png') {
                data.setAttribute('src', 'static/image/favorite@4x.png')
                $('.feed-icon').off('hover');

            } else {
                data.setAttribute('src', 'static/image/favorite@3x.png')

            }
        }
        makefeed(story_list)
        makestory(story_list)
        makestory(story_list)
        followme(story_list)
        function makestory(data) {
            let b = 1
            for (a of data) {
                let imgsrc = a['src']
                let name = a['name']

                let storytemp = `<div class="story-wrapper">
                            <img class="story-img " src="${imgsrc}" alt="" onClick="storyclick(this)">
                                <div>${name}${b}</div>
                        </div>`

                $('#story-container').append(storytemp)
                b++
            }
        }
        function makefeed(data) {
            let b = 1
            for (a of data) {
                let imgsrc = a['src']
                let name = a['name']
                let msg = a['msg']
                let feedtemp = `<div class="feed-wrapper">
                                    <div class="feed-head-container">
                                        <div class="feed-head-wrapper">
                                            <img class="feed-head-img" src="${imgsrc}" alt="">
                                            <div>${name}${b}</div>
                                        </div>
                                        <img class="more-icon" style="" src="static/image/more@3x.png" alt="" onclick="opendia()">
                                    </div>
                                    <img class="feed-img" src="${imgsrc}" alt="">
                                    <div style="margin-top: -2%;">
                                        <div class="feed-icons-container">
                                            <div class="feed-icons-wrapper">
                                                <img class="feed-icon" style=""  onclick="like(this)" src="static/image/like@3x.png" alt="${name}${b}">
                                                <img class="feed-icon" src="static/image/comment@3x.png">
                                                <img class="feed-icon" src="static/image/dm@3x.png">
                                            </div>
                                            <img class="feed-icon feed-right-icon" style="" onclick="favorite(this)" src="static/image/favorite@3x.png">
                                        </div>
                                        <div class="feed-feed-container">
                                            <div class="feed-like-wrapper">
                                                <img class="feed-like-img" src="${imgsrc}" alt="">
                                                <div id="${name}${b}"><strong>${name}${b}</strong>님 외에 <strong id="${name}${b}likey">9999명</strong>이 좋아합니다</div>
                                            </div>
                                            <div class="feed-feed-wrapper">
                                                <div class="feed-msg">
                                                    <strong>${name}${b}</strong> ${msg}
                                                </div>
                                                <div class="feed-time">12시간 전</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>`

                $('#feed-container').append(feedtemp)
                b++
            }
        }
        function followme(data) {
            let b = 1
            for (a of data) {
                let imgsrc = a['src']
                let name = a['name']
                let temp = `<div class="container">
                                <div class="wrapper">
                                    <div><img class="icon" src="${imgsrc}"/>
                                    </div>
                                    <div style="padding-left: 5%">
                                        <div><strong>${name}${b}${b}</strong></div>
                                        <p>회원님을 위한 추천</p>
                                    </div>
                                </div>
                                <p>팔로우</p>
                            </div>`
                $('#follow-people').append(temp)
                b++
            }
        }
        function load() {
            window.location.reload()
        }

    </script>
</body>

</html>