<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <!-- Webpage Title -->
    <title>루피스타그램</title>

    <!-- CSS 링크 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <!-- favicon -->
    <link rel="icon" href="{{ url_for('static', filename='image/fav.png') }}">
    <!-- <link rel="instagram-icon" href="{{url_for('static', filename='image/insta-logo.png')}}"> -->

    <script>
        {% if msg %}
        alert("{{ msg }}")
        {% endif %}

    </script>
</head>


<body>
    <div class="container">
        <img class="logo_instagram" src="{{url_for('static', filename='image/insta-logo.png')}}" alt="instagram_logo">
        <input type="text" class="input_login" name="userid" id="userid" placeholder="전화번호, 사용자 이름 또는 이메일">
        <input type="password" class="input_login" name="userpw" id="userpw" placeholder="비밀번호">
        <a href="#none"><button id="btn_login" disabled onclick="login()">로그인</button></a>
        <span class="button_forgot">비밀번호를 잊으셨나요?</span>
    </div>
    <script src="{{url_for('static', filename='js/login.js')}}"></script>
</body>


</html>