<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mypage.css') }}">

    <title>Lupistagram</title>

    <script>

        function PopupExplain(param) {
            var val = document.getElementById(param).outerHTML;
            var explain = document.getElementById("explain");
            var w = window.open("", "", "");
            w.document.write(val);
            w.document.close();
        }

        // function newTabClick() {
        //     window.open('new-tab.html', '_blank');
        // }

        // 버튼 이용
        // function newClick() {
        //     window.open('this.src');
        // }


        // function closeClick() {
        //     window.close();
        // }

        // 이미지 클릭시 이미지 새팝업에 확대하고 그 이미지 클릭하면 닫아지게 하는 거 구현중입니다
        // 새로운 창을 열었던 함수를 변수에 선언하고 이를 사용해서 close() 함수 적용할라 했는데
        // 처음 var변수 선언할때 this.src 값이 그 자체 사진 값으로 인식이 안되요 순서 문제인거 같은데
        // 해결 방안 찾으시면 변경좀 부탁드릴께요ㅠㅠ
        function closeClick() {

            var new_page = window.open('this.src'); //새로운 창을 열때 사용한 코드
            new_page.close(this.src); //new_page 변수명에 저장된 창을 닫음
        }

        /* move.js */
        function move() {
            location.href = "main.html";
        }


    </script>
</head>

<body>
    <div>
        <nav>
            <div class="nav-container">
                <div class="nav-1">
                    <img class="logo_instagram_txt" src="{{ url_for('static', filename='image/logo_text.png') }}"
                        onclick='window.location.href = "/main"' alt="logo_text">
                </div>
                <input id="searchInput" type="search" class="input-search" placeholder="검색">
                <div class="nav-2" id="nav">
                    <img src="static/image/home.png" onclick='window.location.href = "/main"' alt="홈">
                    <img src="static/image/dm.png" alt="DM">
                    <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/explore.png" alt="탐색">
                    <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png" alt="하트">
                    <img class="pic" src="static/image/Lu6.png" onclick='window.location.href = "/mypage"' alt="마이페이지">
                </div>
            </div>
        </nav>

        <div id="post-container">
            <div class="post-wrapper">
                <div class="post-header">
                    <div class="right-wrapper">
                        <img class="pfp" src="static/image/Lu6.png" align="left" vspace="10" hspace="10">
                        <span style="font-size:5px">&nbsp;</span>
                        <span
                            style="font-size:30px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{nickname}}</span>
                        <span style="font-size:10px">&nbsp;</span>
                        <span
                            style="display:inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12&nbsp;post&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4M&nbsp;followers&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1,250&nbsp;following</span>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{id}}
                        </p>
                    </div>
                </div>

                <div class="post-body">

                </div>
            </div>

            <div class="post-wrapper">
                <div class="post-header">
                    <div class="post-menu">
                        Posts&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Videos&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reels&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tagged
                    </div>
                </div>

                <div class="post-body">
                    <div class="post-collection">
                        <img src="static/image/Lu2.jpg" class="img-collection" onclick="window.open(this.src)" />
                        <img src="static/image/Lu4.jpg" class="img-collection" onclick="window.open(this.src)" />
                        <img src="static/image/Lu1.jpg" class="img-collection" onclick="window.open(this.src)" />
                        <img src="static/image/Lu3.jpg" class="img-collection" onclick="window.open(this.src)" />
                        <img src="static/image/Lu5.png" class="img-collection" onclick="window.open(this.src)" />
                        <img src="static/image/Lu7.jpg" class="img-collection" onclick="window.open(this.src)" />
                        <img src="static/image/Lu8.jpg" class="img-collection" onclick="window.open(this.src)" />
                        <img src="static/image/Lu9.jpg" class="img-collection" onclick="window.open(this.src)" />
                        <img src="static/image/Lu10.jpg" class="img-collection" onclick="window.open(this.src)" />
                    </div>
                </div>
            </div>
        </div>

        <!--  파일 업로드
        <form action="/fileupload" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" />
            <br><br>
            <input type="submit" />
            <input type="reset" />
        </form> -->

    </div>

</body>