<!DOCTYPE html>
<html>

<head>
    <!-- Webpage Title -->
    <title>루피스타그램 회원가입</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <!-- CSS 링크 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <!-- favicon -->
    <link rel="icon" href="{{ url_for('static', filename='image/fav.png') }}">
    <!-- <link rel="instagram-icon" href="{{url_for('static', filename='image/insta-logo.png')}}"> -->

    <script>
        // 간단한 회원가입 함수입니다.
        // 아이디, 비밀번호, 닉네임을 받아 DB에 저장합니다.
        function register() {
            $.ajax({
                type: "POST",
                url: "/api/register",
                data: {
                    // id="userid" "userpw" "usernick"
                    id_give: $('#userid').val(),
                    pw_give: $('#userpw').val(),
                    nickname_give: $('#usernick').val()
                },
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert('회원가입이 완료되었습니다.')
                        window.location.href = '/login'
                    } else {
                        alert(response['msg'])
                    }
                }
            })
        }
    </script>
</head>


<body>
    <div class="container">
        <img class="logo_instagram" src="{{url_for('static', filename='image/insta-logo.png')}}" alt="instagram_logo">
        <input type="text" class="input_login" name="userid" id="userid" placeholder="전화번호, 사용자 이름 또는 이메일">
        <input type="password" class="input_login" name="userpw" id="userpw" placeholder="비밀번호">
        <input type="text" class="input_login" name="usernick" id="usernick" placeholder="닉네임">
        <a href="#none"><button id="btn_login" disabled onclick="register()">회원가입</button></a>
    </div>
    <script src="{{url_for('static', filename='js/login.js')}}"></script>
</body>


</html>